# Core utilities
streamlit
python-dotenv
requests

# LangChain ecosystem
langchain
langchain-community
langchain-groq
langgraph

# Vector stores & embeddings
faiss-cpu
sentence-transformers

# PDF handling
PyPDF2
pypdf

# Data science & plotting
pandas==2.2.2
numpy
matplotlib
seaborn
statsmodels

# PandasAI & OpenAI
pandasai


openai

# Typing / utilities
typing-extensions
python-dotenv
torch

